@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*REUSABLE CODE*/


a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 100px;
    color: white;
}

.heading{
    margin-top: 100px;
    color: white;
    font-size: 100px;
}

p{
    color: white;
    margin-top: 40px;
}

.logo{
    font-size: 100px;
    color: white;
    font-weight: bold;
}

button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


span{
    background: gray;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 500ms;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}


/*HOME*/

.page1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: gray;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.centre{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.centre h1{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}


/*BALI*/

#BALI{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/2.jpg);
    background-size: cover;
    background-position: center;
    
}


.row{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


.navbar ul .list::after{
    content: "";
    height: 3px;
    width: 0;
    background: royalblue;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.navbar ul .list:hover:after{
    width: 100%;
}

/*EGYPT*/

#EGYPT{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/3.jpg);
    background-size: cover;
    background-position: center;
}


.navbar ul .life::after{
    content: "";
    height: 3px;
    width: 0;
    background: rgb(156, 131, 3);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.navbar ul .life:hover:after{
    width: 100%;
}


#GREECE{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/4.jpg);
    background-size: cover;
    background-position: center;
}

.navbar ul .lile::after{
content: "";
height: 3px;
width: 0;
background: white;
position: absolute;
bottom: -5px;
left: 0;
transition: 0.5s;
}

.navbar ul .lile:hover:after{
width: 100%;
}

/*UAE*/

#UAE{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/5.jpg);
    background-size: cover;
    background-position: center;
}

/*PORTUGAL*/

#PORTUGAL{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/6.jpg);
    background-size: cover;
    background-position: center;
}


/*THAILAND*/

#THAILAND{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/7.jpg);
    background-size: cover;
    background-position: center;
}


/*SOUTHAFRICA*/

#SOUTHAFRICA{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/8.jpg);
    background-size: cover;
    background-position: center;
}


/*AMERICA*/

#AMERICA{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/9.jpg);
    background-size: cover;
    background-position: center;
}

/*END PAGE*/

.page12{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./test/10.jpg);
    background-size: cover;
    background-position: center;
}

@media(max-width:576px) {

    h1{
        font-size: 20px;
    }

    .logo{
        font-size: 30px;
    }


    .content h1{
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }

    .row{
        max-width: 300px;
    }

    a{
        font-size: 12px;
    }

 
}






